<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <script src="static/unpoly.js"></script>
  </head>
  <body>    
    <div up-href="cards_front.html" id="records" class="card bubble" up-target="#records" up-follow> 
      <br>
      <div>This card shows domain-specific statistics of&nbsp;Loom 
      records based on&nbsp;research articles: the&nbsp;number of&nbsp;articles, 
      authors, and&nbsp;statements.
      A&nbsp;<span style="font-style: italic;">statement</span> is 
      a&nbsp;natural language formulation of&nbsp;data analysis results.
      An&nbsp;article and&nbsp;related statements can belong, and&nbsp;an&nbsp;author can contribute, 
      to&nbsp;more than one domain; therefore, the&nbsp;sum of&nbsp;counts in&nbsp;all domains 
      is&nbsp;not equal to&nbsp;the&nbsp;Overall count.
      </div> 
      <div>To&nbsp;discover more on this topic or&nbsp;find 
      specific information, visit the&nbsp;Loom
      <a href="https://knowledgeloom.tib.eu/" target="_blank">search page</a>.
      </div> 
    </div>
    <div up-href="cards_front.html" id="data" class="card bubble" up-target="#data" up-follow> 
      <br>
      <div>This card shows domain-specific statistics 
      of&nbsp;data (CSV) and&nbsp;code (Python or R) files currently available 
      as supplementary materials to&nbsp;Loom records.
      A&nbsp;record with&nbsp;these files can belong to&nbsp;more than one domain;
      therefore, the&nbsp;sum of&nbsp;counts in&nbsp;all domains 
      is&nbsp;not equal to&nbsp;the&nbsp;Overall count.
      </div>
      <div>The files can be directly accessed and downloaded via&nbsp;the&nbsp; 
      <a href="final_info.html" up-target="#overview">Detailed Information</a> 
      section.
      </div>
    </div>
    <div up-href="cards_front.html" id="methods" class="card bubble" up-target="#methods" up-follow> 
      <br>
      <div>This card shows domain-specific statistics 
      of&nbsp;schemata applied in&nbsp;Loom records.
      <span style="font-style: italic;">Schemata</span> are 
      registered and&nbsp;persistently identified data types. Loom schemata 
      cover most widely used statistical and&nbsp;machine learning methods.
      As&nbsp;a&nbsp;record that includes schemata can belong to&nbsp;more than 
      one domain, the&nbsp;sum of&nbsp;counts in&nbsp;all domains 
      is&nbsp;not equal to&nbsp;the&nbsp;Overall count.
      </div>  
      <a id="schemata_pic" up-layer="new modal" up-content="#abc" up-size="grow">
      <template id="abc">
      <img src="static/schemata.png" style="width:90%;height:90%;">
      </template>
      <img src="static/schemata.png" style="width:70%;height:auto;">
      </a>
      <div>In&nbsp;the&nbsp;figure, selecting a&nbsp;schema to&nbsp;report 
      a&nbsp;data analysis method is&nbsp;explained 
      (click the&nbsp;image to&nbsp;expand it). 
      To&nbsp;know more about the&nbsp;schemata, visit the&nbsp;Loom 
      <a href="https://knowledgeloom.tib.eu/pages/help" target="_blank">help page</a>.
      </div>
    </div>
  </body>
</html>