<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <script src="static/unpoly.js"></script>
    <script src="static/useFunctions.js"></script>
  </head>
  <body>
    <div id="overview" class="display-contents">
      <div id="explanation" class="centered bubble">
        This is an&nbsp;interactive presentation of&nbsp;the&nbsp;TIB Knowledge Loom records.
        Select specific domains to&nbsp;get detailed information on&nbsp;the&nbsp;records:
        the&nbsp;record title; the&nbsp;related research article DOI;
        data files and&nbsp;code files, which can be downloaded;
        and&nbsp;schemata used in&nbsp;the&nbsp;record.
        <p style="text-align: center;">
          <a href="main_page.html" up-target="#overview">Back to Overview</a>
        </p>
      </div>

{#- variables controlling when to hide extra content #}
{#- if there are more than 1 records, then hide the rest under `more records` #}
{#- if there are more than 4 data/code files, #}
{#- then show only first two, and hide files from 3rd onwards under `more files` #}
{#- if there are more than 3 domain fields, #}
{#- then show only first two, and hide from 3rd onwards under `more schemata` #}
{%- set papers_max = 1 %}
{%- set files_cutoff = 2 %}
{%- set files_max = 4 %}
{%- set schemata_cutoff = 2 %}
{%- set schemata_max = 3 %}
{%- for name in summary.all_field_names %}
  {%- if name != "Overall" %}
      <div id="fin_{{loop.index}}" class="field_wrap">
        <div class="legend colour_{{loop.index}}">{{ name }}</div>
        <div class="info_field">
    {%- for line in summary.final_info[name] %}
            <div class="info_line">
              <div class="record_paper">
                {{ line[0] }}
      {%- for doi in line[1] %}
                <a href={{ doi }} target="_blank">(article)</a>
      {%- endfor %}
              </div>
              <div class="file_listing">
                <div>
                  Data:
      {%- if line[2]|length == 0 %}
                  see the article
      {%- endif %}
                </div>
      {%- for key, value in line[2].items() %}
                  <a href={{ value }} target="_blank">{{ key }}</a>
        {%- if line[2]|length > files_max %}
          {%- if loop.index == files_cutoff %}
                <details>
                  <summary class="noselect">more files</summary>
          {%- endif %}
          {%- if loop.index == line[2]|length %}
                </details>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
              </div>
              <div class="file_listing">
                <div>
                  Code: 
      {%- if line[3]|length == 0 %}
                  see the article
      {%- endif %}
                </div>
      {%- for key, value in line[3].items() %}
                  <a href={{ value }} target="_blank">{{ key }}</a>
        {%- if line[3]|length > files_max %}
          {%- if loop.index == files_cutoff %}
                <details>
                  <summary class="noselect">more files</summary>
          {%- endif %}
          {%- if loop.index == line[3]|length %}
                </details>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
              </div>
              <div class="schemata">
      {%- for schema in line[4] %}
                <div> {{ schema }} </div>
        {%- if line[4]|length > schemata_max %}
          {%- if loop.index == schemata_cutoff %}
                <details>
                  <summary class="noselect">more schemata</summary>
          {%- endif %}
          {%- if loop.index == line[4]|length %}
                </details>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
              </div>
            </div>
      {%- if summary.final_info[name]|length > papers_max %}
        {%- if loop.index == papers_max %}
          <details>
            <summary class="noselect">more records</summary>
        {%- endif %}
        {%- if loop.index == summary.final_info[name]|length %}
          </details>
        {%- endif %}
      {%- endif %}
    {%- endfor %}
        </div>
      </div>
  {%- endif %}
{%- endfor %}
    </div>
  </body>
</html>