<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <script src="static/unpoly.js"></script>
    <script src="static/useFunctions.js"></script>
  </head>
  <body>
    <div id="overview" class="display-contents">
      <div id="explanation" class="centered bubble">
        This is an&nbsp;interactive presentation of&nbsp;the&nbsp;TIB Knowledge Loom records.
        Select specific domains to&nbsp;get detailed information on&nbsp;the&nbsp;records:
        the&nbsp;record title; the&nbsp;related research article DOI;
        data files and&nbsp;code files, which can be downloaded;
        and&nbsp;schemata used in&nbsp;the&nbsp;record.
        <p style="text-align: center;">
          <a href="main_page.html" up-target="#overview">Back to Overview</a>
        </p>
      </div>
{%- set papers_cutoff = 2 %}
{#- hide records after the first one into an expandable menu #}
{%- set data_files_cutoff = 4 %}
{#- hide attached csv files after 3rd one #}
{%- set code_files_cutoff = 4 %}
{#- hide attached code files after 3rd one #}
{%- set schemata_cutoff = 2 %}
{#- hide used schemata after the 1st one #}
{%- for name in summary.all_field_names %}
  {%- if name != "Overall" %}
      <div id="fin_{{loop.index}}" class="field_wrap">
        <div class="legend colour_{{loop.index}}">{{ name }}</div>
        <div class="info_field">
    {%- for line in summary.final_info[name] %}
      {%- if loop.index == papers_cutoff %}
          <details>
            <summary class="noselect" style="font-size:14px;">more records</summary>
      {%- endif %}
            <div class="info_line">
              <div class="record_paper">
                {{ line[0] }}
      {%- for doi in line[1] %}
                <a href={{ doi }} target="_blank">(article)</a>
      {%- endfor %}
              </div>
              <div class="data_files">
                Data:
      {%- if line[2]|length == 0 %}
                see the article
      {%- endif %}
      {%- for key, value in line[2].items() %}
        {%- if loop.index == data_files_cutoff %}
                <details>
                  <summary class="noselect" style="font-size:14px;">more files</summary>
        {%- endif %}
                  <a href={{ value }} target="_blank">{{ key }}</a>
        {%- if loop.index == line[2]|length and  loop.index >= data_files_cutoff %}
                </details>
        {%- endif %}
      {%- endfor %}
              </div>
              <div class="code_files">
                Code:
      {%- if line[3]|length == 0 %}
                see the article
      {%- endif %}
      {%- for key, value in line[3].items() %}
        {%- if loop.index == code_files_cutoff %}
                <details>
                  <summary class="noselect" style="font-size:14px;">more files</summary>
        {%- endif %}
                  <a href={{ value }} target="_blank">{{ key }}</a>
        {%- if loop.index == line[3]|length and loop.index >= code_files_cutoff %}
                </details>
        {%- endif %}
      {%- endfor %}
              </div>
              <div class="schemata">
      {%- for schema in line[4] %}
        {%- if loop.index == schemata_cutoff %}
                <details>
                  <summary class="noselect" style="font-size:14px;">more schemata</summary>
        {%- endif %}
                    {{ schema }}
        {%- if loop.index == line[4]|length and loop.index >= schemata_cutoff %}
                </details>
        {%- endif %}
      {%- endfor %}
              </div>
            </div>
      {%- if loop.index == summary.final_info[name]|length and loop.index >= papers_cutoff %}
          </details>
      {%- endif %}
    {%- endfor %}
        </div>
      </div>
  {%- endif %}
{%- endfor %}
    </div>
  </body>
</html>