<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <script src="static/unpoly.js"></script>
    <script src="static/useFunctions.js"></script>
  </head>
  <body>
    <div id="overview">
      <div id="flipper" class="quasibutton">
        <a href="main_page.html" up-target="#overview">Back to stuff</a>
      </div>
      <div id="main_fin" class="flex-container">
        <div id="fields_fin">
          {% for name in summary.all_field_names %}
            {% if name != "Overall" %}
              <div id="fin_{{loop.index}}" class="field_wrap colour_{{loop.index}}">
                <h3>{{ name }}</h3>
                <div class="info_field">
                  {% for line in summary.final_info[name] %}
                    {% if loop.index ==3 %}
                      <details>
                      <summary>more papers</summary>
                    {% endif %} 
                  <div class="info_line">
                    <div class="record_name">
                      {{ line[0] }}       
                    </div>
                    <div class="about">
                      <div class="paper_doi">
                        {% for doi in line[2] %}
                          <a href={{ doi }} target="_blank">DOI</a>
                        {% endfor %}  
                      </div>
                      <div class="schemata">
                        {% for schema in line[1] %}
                          {% if loop.index ==2 %}
                            <details>
                            <summary>more schemata</summary>
                          {% endif %} 
                          <p>{{ schema }}</p>
                        {% endfor %}
                        {% if line[1]|length > 1 %}
                          </details>
                        {% endif %}       
                      </div>             
                      <div class="code_files">
                        {% for key, value in line[3].items() %}
                          {% if loop.index ==4 %}
                            <details>
                            <summary>more files</summary>
                          {% endif %} 
                          <a href={{ value }} target="_blank">{{ key }}</a>
                        {% endfor %}
                        {% if line[3].items()|length > 3 %}
                          </details>
                        {% endif %} 
                      </div>
                      <div class="data_files">
                        {% for key, value in line[4].items() %}
                          {% if loop.index ==4 %}
                            <details>
                            <summary>more files</summary>
                          {% endif %} 
                          <a href={{ value }} target="_blank">{{ key }}</a>
                        {% endfor %}
                        {% if line[4].items()|length > 3 %}
                          </details>
                        {% endif %} 
                      </div>
                    </div>
                  </div>
                  {% endfor %}        
                  {% if summary.final_info[name]|length > 2 %}
                    </details>
                  {% endif %}   
                </div>
              </div>
            {% endif %}   
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>