<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <script src="static/unpoly.js"></script>
    <script src="static/useFunctions.js"></script>
  </head>
  <body>
    <div id="overview" class="display-contents">
      <div id="explanation" class="centered bubble">
        This is an&nbspinteractive presentation of&nbspthe&nbspTIB Knowledge Loom records. 
        Select specific domains to&nbspget detailed information on&nbspthe&nbsprecords:
        the&nbsprecord title; the&nbsprelated research article DOI;
        data files and&nbspcode files, which can be downloaded; 
        and&nbspschemata used in&nbspthe&nbsprecord. 
        <p style="text-align: center;">
          <a href="main_page.html" up-target="#overview">Back to Overview</a>
        </p>
      </div>
{% for name in summary.all_field_names %}
  {% if name != "Overall" %}
      <div id="fin_{{loop.index}}" class="field_wrap">
        <div class="legend colour_{{loop.index}}">{{ name }}</div>
        <div class="info_field">
    {% for line in summary.final_info[name] %}
      {% if loop.index ==2 %}
          <details>
            <summary class="noselect" style="font-size:14px;">more records</summary>
      {% endif %} 
            <div class="info_line">
              <div class="record_paper">
                {{ line[0] }}       
      {% for doi in line[2] %}
                <a href={{ doi }} target="_blank">(article)</a>
      {% endfor %}  
              </div>         
              <div class="data_files">
                Data:
      {% if not line[4].items() %}
                see the article
      {% endif %} 
      {% for key, value in line[4].items() %}
        {% if loop.index ==4 %}
                          <details>
                          <summary class="noselect" style="font-size:14px;">more files</summary>
        {% endif %}
                        <a href={{ value }} target="_blank">{{ key }}</a>
      {% endfor %}
      {% if line[4].items()|length > 3 %}
                        </details>
      {% endif %} 
                    </div>
                    <div class="code_files">
                      Code:
      {% if not line[3].items() %}
                        see the article
      {% endif %} 
      {% for key, value in line[3].items() %}
        {% if loop.index ==4 %}
                          <details>
                          <summary class="noselect" style="font-size:14px;">more files</summary>
        {% endif %} 
                        <a href={{ value }} target="_blank">{{ key }}</a>
      {% endfor %}
      {% if line[3].items()|length > 3 %}
                        </details>
      {% endif %} 
                    </div>
                    <div class="schemata">
      {% for schema in line[1] %}
        {% if loop.index ==2 %}
                          <details>
                          <summary class="noselect" style="font-size:14px;">more schemata</summary>
        {% endif %} 
                          {{ schema }}
      {% endfor %}
      {% if line[1]|length > 1 %}
                        </details>
      {% endif %}       
                    </div>          
                  </div>
    {% endfor %}        
    {% if summary.final_info[name]|length > 1 %}
                    </details>
    {% endif %}   
                </div>
              </div>
  {% endif %}   
{% endfor %}
    </div>
  </body>
</html>