<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <script src="static/unpoly.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
  </head>
  <body>    
    <div up-href="back.html" id="records" class="card bubble" up-target="#records" up-follow> 
      <br>
      <div>This card shows domain-specific statistics of&nbspLoom 
      records based on&nbspresearch papers: the&nbspnumber of&nbsppapers, 
      authors, and&nbspstatements.
      </div> 
      <div>A <span style="font-style: italic;">statement</span> is 
      a&nbspnatural language formulation of&nbspdata analysis results.
      </div> 
      <div>To&nbspdiscover more on this topic or&nbspfind 
      specific information, visit the 
      <a href="https://knowledgeloom.tib.eu/" target="_blank">Loom Search</a> page.
      </div> 
    </div>
    <div up-href="back.html" id="data" class="card bubble" up-target="#data" up-follow> 
      <br>
      <div>This card shows domain-specific statistics 
      of&nbspdata and&nbspcode files currently available 
      as supplementary materials to&nbspLoom records.</div>
      <div>They can be directly accessed and downloaded via 
      <a href="final_info.html" up-target="#overview">Detailed Information</a>.
      </div>
    </div>
    <div up-href="back.html" id="methods" class="card bubble" up-target="#methods" up-follow> 
      <br>
      <div>This card shows domain-specific statistics 
      of&nbspschemata applied in&nbspLoom records.
      </div>  
      <div><span style="font-style: italic;">Schemata</span> are 
      registered and&nbsppersistently identified data types. Loom schemata 
      cover most widely used statistical and&nbspmachine learning methods.
      </div>  
      <a id="schemata_pic" up-layer="new modal" up-content="#abc" up-size="grow">
      <template id="abc">
      <img src="/static/schemata.png" style="width:90%;height:90%;">
      </template>
      <img src="/static/schemata.png" style="width:70%;height:auto;">
      </a>
      <div>This figure shows selecting a&nbspschema to&nbspreport 
      a&nbspdata analysis method (click the&nbspimage to&nbspexpand it). 
      To&nbspknow more about the&nbspschemata, visit the 
      <a href="https://knowledgeloom.tib.eu/pages/help" target="_blank">Loom help page.</a>
      </div>
    </div>
  </body>
</html>