<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <script src="static/unpoly.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
  </head>
  <body>    
    <div up-href="back.html" id="records" class="card bubble" up-target="#records" up-follow> 
    <p style="text-align: left;">This card shows domain-specific statistics of Loom records 
    based on research papers: the number of papers, authors, and statements.</p> 
     <p style="text-align: left;">A <span style="font-style: italic;">statement</span> is a 
     natural language formulation of data analysis results.</p> 
     <p style="text-align: left;">To discover more on this topic or find specific information, 
    visit the <a href="https://knowledgeloom.tib.eu/" target="_blank">Loom Search</a> page.</p> 
    </div>
    <div up-href="back.html" id="data" class="card bubble" up-target="#data" up-follow> 
     <p style="text-align: left;">This card shows domain-specific statistics of data and code files currently 
     available as supplementary materials to Loom records.</p>
     <p style="text-align: left;">They can be directly accessed and downloaded from the 
     <a href="final_info.html" up-target="#overview">Detailed Information</a> section.</p>
    </div>
    <div up-href="back.html" id="methods" class="card bubble" up-target="#methods" up-follow> 
    <p style="text-align: left;">This card shows domain-specific statistics of schemata applied in 
    Loom records.</p>  
    <p style="text-align: left;"><span style="font-style: italic;">Schemata</span> are registered 
    and persistently identified data types. Loom schemata 
    cover most widely used statistical and machine learning methods.</p>  
    <a id="schemata_pic" up-layer="new modal" up-content="#abc" up-size="grow">
    <template id="abc">
    <img src="/static/schemata.png" style="width:90%;height:90%;">
    </template>
    <img src="/static/schemata.png" style="width:70%;height:auto;">
    </a>
    <p style="text-align: left;">This figure shows selecting a schema to report a data analysis method 
    (click the image to expand it). To know more about the schemata, visit the 
    <a href="https://knowledgeloom.tib.eu/pages/help" target="_blank">Loom help page.</a></p>
    </div>
  </body>
</html>