<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/unpoly.css" />
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/unpoly.js"></script>
    <script src="static/useFunctions.js"></script>
  </head>
  <body>
    <div id="title">
      <img src="/static/title.png" style="width:auto;height:70px;">
    </div>
    <div id="main" class="flex-container">
      <div id="fields">
      {% from 'field_button.html' import field_name %}
      {% for name in summary.all_field_names %}
        {{ field_name(name, loop.index) }}
      {% endfor %}
      </div>
      <div id="overview">
      <div id="flipper" class="explanation">
      This is an interactive overview of the TIB Knowledge Loom.
      Select specific domains or the Overall field for summary,
      flip the cards for more context (click a card anywhere to flip),
      and download data or code files via
      <p style="text-align: center;">
      <a href="final_info.html" up-target="#overview">Detailed Information</a>
      </p>
      </div>
      <div id="flipcards">        
        <div id="two_cards">
          <div id="records" up-defer="insert" up-href="back.html"> ... </div>
          <div id="data" up-defer="insert" up-href="back.html"> ... </div>
        </div>  
        <div id="methods" up-defer="insert" up-href="back.html"> ... </div>
      </div>
    </div>
    </div>
  </body>
</html>